src/main/app/message_enricher.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="flow2">
        <vm:inbound-endpoint exchange-pattern="one-way" path="vm1" doc:name="VM"/>
        <async doc:name="Async">
            <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        </async>
        <logger message="&quot;payload:&quot;#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="message_enricherFlow" processingStrategy="non-blocking">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/enricher" allowedMethods="POST" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="3c95dcd0-f17e-4a69-bb68-a1deace1c5eb">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload splitBy "\n"]]></dw:set-payload>
        </dw:transform-message>
        <collection-splitter doc:name="Collection Splitter"/>
        <enricher target="#[variable:name]" doc:name="Message Enricher">
            <set-payload value="'chaitanya'" doc:name="Set Payload"/>
        </enricher>
        <dw:transform-message doc:name="Transform Message" metadata:id="abe82d2e-929a-4e7f-b9e1-5819c339cfe9">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java

%var data=flowVars.name
---
payload ++ ";name:" ++ data ++ "\n"]]></dw:set-payload>
        </dw:transform-message>
        <object-to-string-transformer returnClass="java.lang.String" doc:name="Object to String"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="vm1" doc:name="VM"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
