src/main/app/splitter_vm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="splitter_vmFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/data" allowedMethods="POST" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="714d3f99-1f90-4574-9a78-541702596f4d">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload splitBy "\n"]]></dw:set-payload>
        </dw:transform-message>
        <vm:outbound-endpoint exchange-pattern="one-way" path="path1" doc:name="VM1"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="splitter_vmFlow1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="path1" doc:name="VM1"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="path2" doc:name="VM2"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="splitter_vmFlow3">
        <vm:inbound-endpoint exchange-pattern="one-way" path="path2" doc:name="VM2"/>
        <enricher target="#[variable:name]" doc:name="Message Enricher">
            <set-payload value="'chaitanya'" doc:name="Set Payload"/>
        </enricher>
        <dw:transform-message doc:name="Transform Message" metadata:id="aed04c35-03b0-4176-a1d0-77e4dcc43aa2">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%var var=flowVars.name
---
payload ++ ", name: " ++  var ++ "\n"]]></dw:set-payload>
        </dw:transform-message>
        <vm:outbound-endpoint exchange-pattern="one-way" path="path3" doc:name="VM3"/>
    </flow>
    <flow name="splitter_vmFlow2">
        <vm:inbound-endpoint exchange-pattern="one-way" path="path3" doc:name="VM3"/>
        <collection-aggregator failOnTimeout="true" storePrefix="store1" doc:name="Collection Aggregator">
            <expression-message-info-mapping messageIdExpression="#[java.util.UUID.randomUUID().toString()]" correlationIdExpression="#[payload]"/>
        </collection-aggregator>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
